%% -*- erlang -*-
[{kinetic,
    [%% All of these values are optional;
     %% kinetic will get all of the context from the instance metadata service.
     {metadata_base_url, "http://localhost:7001"},
     {aws_access_key_id, "SOMEKEY"},
     {aws_secret_access_key, "SOMESECRET"},
     {iam_role, "kinetic"},
     {lhttpc_opts, [{max_connections, 5000}]}
    ]}]
}].
