%% -*- erlang -*-
{erl_opts, [
    inline_list_funcs,
    warn_unused_vars,
    warn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_export_all,
    debug_info,
    warnings_as_errors
]}.

{deps,
 [
  {lhttpc, ".*",
    {git, "https://github.com/ferd/lhttpc.git", {tag, "1.2.9"}}},
  {jiffy, ".*",
    {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
  {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8.11"}}},
  {erliam, ".*",
    {git, "https://github.com/AdRoll/erliam.git", {tag, "v0.1.2"}}}
 ]}.
