%% -*- erlang -*- 
{require_otp_vsn, "R16B0[23]"}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}, event_log]}.
{pre_hooks, [{clean, "rm -rf erl_crash.dump logs/* log ebin test/*.beam"}]}.

{erl_opts, [debug_info,
            % {parse_transform, lager_transform},
            %% warn_export_all,
            %% warn_untyped_record,
            inline_list_funcs,
            warn_deprecated_function,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors
           ]}.

{deps,
 [
  {lhttpc, ".*", {git, "git://github.com/ferd/lhttpc.git", "master"}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.11.3"}}}
 ]}.

{xref_warnings, false}.
{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.


