%% -*- erlang -*-
{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}, event_log]}.
{pre_hooks, [{clean, "rm -rf erl_crash.dump logs/* log ebin test/*.beam"}]}.

{erl_opts, [debug_info,
            % {parse_transform, lager_transform},
            %% warn_export_all,
            %% warn_untyped_record,
            inline_list_funcs,
            warn_deprecated_function,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors
           ]}.

{deps,
 [
  {lhttpc, ".*",
    {git, "https://github.com/ferd/lhttpc.git", {tag, "de7e48fb1045bbe522fa01f7c2c7839d89f04f88"}}},
  {jiffy, ".*",
    {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
  {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8.3"}}},
  {erliam, ".*",
    {git, "https://github.com/AdRoll/erliam.git", {tag, "v0.1.2"}}}
 ]}.

{xref_warnings, false}.
{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.
